.card:hover {
    background-color: #f4fcff;
}

.card {
    padding: 5px;

    .badge {
        position: absolute;
        bottom: 6px;
        right: 2px;
        font-size: 12px;
        border-radius: 1000px;
    }

    &:hover {
        background-color: #dcf6ff;
    }
}

.delete-button {
    position: absolute;
    padding: 0px 4px;
    right: 1px;
    top: 1px;
    background-color: rgb(255, 0, 0);
    border: none;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: rgb(190, 0, 0) !important;
        color: #000000 !important;
    }
}
