.tabs {
    border-bottom: 1.5px solid #d9d9d9; /* Màu xám */
    padding-bottom: 10px;
}

.tab-label {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-primary);
    cursor: pointer;
}

.tab-label-active {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-secondary);
}
