

.tab-label {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-primary);
    cursor: pointer;
}

.tab-label-active {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-secondary);
}

:global {
    .ant-tabs-nav {
        margin-bottom: 0 !important;
    }
}
