.sidebar {
    margin-top: var(--default-layout-header-height);
    background-color: transparent;
    z-index: 1; 

}

.content {
    display: flex;
    flex-direction: column;
    margin-left: var(--default-layout-sidebar-width);
    margin-top: var(--default-layout-header-height);
    width: calc(100% - var(--default-layout-sidebar-width));
    min-height: calc(100vh - var(--default-layout-header-height));
    max-width: calc(100% - var(--default-layout-sidebar-width));
}

.footer {
    margin-left: var(--default-layout-sidebar-width);
}
