.wrapper {
    height: 100vh;
    width: 100vw;
    padding: 70px;
    background-color: white;
}

.coverForm {
    background-color: aquamarine;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.subbtn {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: rgb(121, 121, 121);
}

.logo {
    font-size: 50px;
}

input::placeholder {
    font-weight: bold;
    color: #333;
}
