.wrapper {
    padding: 20px;
    min-height: 100vh;
}

.header-wrapper {
    width: 100%;
    padding-bottom: 20px;
}

.input-wrapper {
    width: 100%;
    padding: 10px;
}

.upload {
    width: 100%;
    padding: 10px;
}
